/* #4 #sweat #external css file */

/* GLOBAL */

/* #4 #global styles*/

* {
    /* #4 use #roboto #font */
    font-family: 'Roboto', 'Arial', sans-serif;

    /* #4 #sweat take care of #spacing between various elements */
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
    /*    background-color: red;*/
    /*    position:relative;*/
}

/* #4 # sweat #uppercase buttons and w3w locations */

button,
strong {
    text-transform: uppercase;
}



/* APP BAR */

/* #4 #sweat address both #app-bar s */

h1 {
    background-color: #3F51B5;
    color: white;
    height: 60px;
    margin: auto;
    line-height: 60px;
    font-size: 22px;
    position: relative;
    font-weight: lighter;


}

h1 img {
    vertical-align: middle;
    position: absolute;
    left: 10px;
    bottom: 0;
}

h1 span {
    position: absolute;
    left: 70px;
}

h1 .chatbartitle {
    position: absolute;
    left: 15px;
}

/* CHANNELS LIST */

#channels {
    /*    background-color: greenyellow;*/
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    /*    overflow: scroll;*/
}

/* #4 #sweat #channels */

ul {
    /* #3 #channels #list modifies h2 to ul */
    background-color: white;
    /* #3 #channels #bullets removed */
    list-style-type: none;

    position: absolute;
    width: 100%;
    /*    height: inherit;*/
    top: 60px;
    bottom: 70px;
    overflow-y: auto;
}

li {
    /* #4 #channel #tile geometry */
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    /* #4 #channel tiles are separated by #lines */
    border-bottom: 1px solid #F5F5F5;
}

/* #4 active #channel is #highlighted */

li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

li .channel-meta {
    /* #4 #middle vertical alignment of icons in the #channels list */
    vertical-align: middle;
    position: absolute;
    right: 0;
}


/* TAB BAR */

/* #4 #sweat #tab-bar */

#tab-bar, #chat-bar {
    /* #3 #tab-bar #container should be white */
    background-color: white;
    /* #3 #tab-bar #container has all buttons centered */
    text-align: center;
    position: absolute;
    /*    height: 150px;*/
    bottom: 0px;
    /*    overflow: hidden;*/
    width: 100%;
    display: flex;
    height: auto;
    
}

/* #4 add styles to #tab-bar #buttons */

#tab-bar button, #chat-bar button {
    background-color: white;
    border: none;
    font-size: 13px;

    /* #4 #tab-bar buttons have a width of #one-third of the available space */
    width: 33%;
    height: 72px;
    padding: 16px;
    flex-grow: 1;
    
}

/* #4 #tab-bar buttons do have a #line-break and images are centered due to the left&right auto margin */

#tab-bar button img {
    display: block;
    margin: 0 auto 4px auto;
}

/* #4 the selected #tab-bar #button is #highlighted */

#tab-bar button.selected {
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}


/* MESSAGES */

#chat {
    position: absolute;
    right: 0;
    height: 100%;
    width: 60%;
    /*    background-color: yellow;*/
}


/* #4 select #specific #messages by class and re-assign element styles according to their #hierarchy in a nested way */

.message {
    /* #3 #chat #width*/
    width: 80%;

    /* #4 align all #messages using #margins */
    margin-left: 2.5%;

    /* #4 #message distance to next message container*/
    margin-bottom: 8px;
}


.message h3 {
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.message h3 em {
    font-size: larger;
    font-style: normal;
    width: 20%;
    text-align: right;
}

.message h3 a {
    /* #3 #chat #link color is primary text */
    color: black;
    width: 30%;
}

.message p {
    background-color: white;
    padding: 16px;
    position: relative;
}

.message p button {
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

/* #4 left align own #messages using #margins */

.message.own {
    margin-left: 17.5%;
}
#chat-bar button{
    width: auto;
    flex-grow: 0;
}

#emojis{
    background-color: white;
    border: 1px solid black ;
    font-size: 28px;
    text-align: left;
    overflow-y: auto;
    position:absolute;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    top:-284px;
    left: 16px;
    padding:16px;
/*    bottom:0;*/
    display:none;
}
#messages{
    position: absolute;
    overflow-y: auto;
    bottom: 70px;
    top: 60px;
    width: 100%
}